{% extends 'baseshop.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock %}

{% block content %}
<body class="text-center">
    

    <div class="container justify-content-center">
        <a class="btn btn-primary" href="{% url 'accounts:registration' %}" role="button">Регистрация</a>
        <p class='mt-3'>Войдите в аккаунт при помощи <br> вашего логина и пароля</p>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <form method='post' class="form-control" style="margin-top:30px;">
                        {% csrf_token %}
                        {{ form|crispy }}

                    <button type="submit" class="btn btn-primary btn-lg" style="margin-top:10px">Войти</button>

                </form>
            </div>    
        </div>
    </div>
</body>    
{% endblock %}
