{% extends 'base.html' %}
{% block greetings %}
    
{% endblock %}

{% block content %}
    <h3 class="text"  style="text-align:center; color:red;">Вы вышли из профиля</h1>
    <div class="d-grid gap-2 col-4 mx-auto">
        
        <a href="{% url 'index' %}" class="btn btn-primary" type="button">На главную</a>
    </div>    
{% endblock %}