{% extends 'baseshop.html' %}
{% load crispy_forms_tags %}
{% block title %}
{% endblock %}

{% block content %}
    
    
    <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}    
            {% endif %}    
        <h1 class="display-2    "  style="text-align:center; color:red;">Ваш профиль</h1>
        <div class="row justify-content-center">
            <div class="col-md-6 offset-md-3">
                <div class="media">
                    <div class="img-circle.vert">
                        <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">

                    </div><a class="btn btn-danger" href="{% url 'accounts:logout' %}" role="button">Выйти</a>
                    <div class="media-body  p-3 m-3">
                        <h2 class="account-heading">{{ user.username }}</h2>
                        <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                        <p class="text-secondary">{{ user.email }}</p>

                    </div>
                </div>
            </div>    
        </div>        
             <div class="container">
                <div class="row">
                            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#orders" aria-expanded="false" aria-controls="collapseExample">
                                <h5 class="account-heading text-center">Ваши заказы</h5>
                            </button> 
                            <div class="collapse" id="orders">
                                <div class="card card-body">
                                    {% if not orders.count %}
                                        <h3>У вас еще нет заказов</h3>
                                    {% else %}
                                        <div class="table-responsive-lg">
                                            <table class="table table-striped table-sm" style="text-align: center">
                                                <thead>
                                                    <th scope="col">Номер</th>
                                                    <th scope="col">Статус</th>
                                                    <th scope="col">Сумма</th>
                                                    <th scope="col">Товар</th>
                                                    <th scope="col">#</th>
                                                </thead>
                                                <tbody>
                                                    {% for order in orders %}
                                                        <tr>
                                                            <th scope="row">{{ order.id }}</th>
                                                            <td>{{ order.get_status_display }}</td>
                                                            <td>{{ order.get_final_price }} грн</td>
                                                            <td>
                                                                <ul>
                                                                    {% for item in order.cart.products.all %}
                                                                        <li>{{ item.product.full_name }} x {{ item.qty }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ order.id }}">
                                                                Дополнительно
                                                                </button>
                                                                <!-- Modal -->
                                                            <div class="modal fade" id="exampleModal-{{ order.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                                                    <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="{{ order.id }}">Ваш заказ</h5>

                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <h4 class="text-center">Товар</h4>
                                                                        <table class="table">
                                                                            <head>
                                                                                <th scope="col">Наименование</th>
                                                                                <th scope="col">Цена</th>
                                                                                <th scope="col">Количество</th>
                                                                                <th scope="col">Общая цена</th>
                                                                            </head>
                                                                            <tbody>
                                                                                {% for item in order.cart.products.all %}
                                                                                    <tr>
                                                                                        <th scope="row">{{ item.product.full_name }}<img src="{{ item.product.image.url }}" width="80" height="80" class="rounded mx-auto d-block "></th>
                                                                                        <td><strong>{{ item.product.price }}</strong> грн.</td>
                                                                                        <td scope="row" style="text-align:center">{{ item.qty }}</td>
                                                                                        <td>{{ item.final_price }} грн.</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                                    <tr>
                                                                                        <td colspan="1"></td>
                                                                                        <td>Всего наименований</td>
                                                                                        <td style="text-align:center">{{ order.cart.total_products }}</td>
                                                                                        <td><strong>{{ order.cart.final_price }} грн.</strong></td>
                                                                                    </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <hr>
                                                                        <h4 class="text-center">Дополнительная информация</h4>
                                                                        <p>Имя: <strong>{{ order.first_name }}</strong></p>
                                                                        <p>Фамилия: <strong>{{ order.last_name }}</strong></p>
                                                                        <p>Телефон: <strong>{{ order.phone }}</strong></p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                                    </div>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% endif %}
                                </div>            
                            </div>        
                        
                        <h3 class="mt-2 text-center"> Изменить данные </h3>
                        <form method='post' enctype="multipart/form-data">
                            {% csrf_token %}
                        {{ form|crispy }}

                            <input class="btn btn-success btn-lg mt-2" type="submit" value="Save">

                        </form>    
                </div>            
    </div>
{% endblock %}
