{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}

{% endblock %}

                {% block header %}

                {% endblock %}

                {% block content %}
    <h1 class="display-3"  style="text-align:center; color:red;">Создайте аккаунт</h1>

    <div class="container-md">

            <form method='post' class="form-control bg-light" style="margin-top:30px;">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn btn-success btn-lg" style="margin-top:10px">Создать</button>

            </form>

    </div>
                {% endblock %}
