{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">

{% block title %}
        <title>Shop</title>
{% endblock %}

</head>
{% block header %}
<header id="header" class="fixed-top ">
  

    
        
    <nav class="navbar fixed-top navbar-light bg-light">  
      <div class="container justify-content-between">
        <a class="navbar-brand" href="{% url 'shop:mainpage' %}"><h5>Symmetria-Shop</h5></a>
        {%  if not user.is_authenticated %}
          <a href="{% url 'accounts:login' %}"><img  width="35" height="35" src="{% static 'core/img/assignment.svg' %}" class="d-inline-block align-top" loading="lazy" alt=""></a>
          

        {% endif %}
        {%  if user.is_superuser %}

          <a class="nav-link" href="/admin/">Admin</a>

        {%  endif %}

        {%  if user.is_authenticated %}        
          
            <a class="nav-link" href="{% url 'accounts:profile' %}"><img alt="Profile pic" width="35" height="35" class="rounded-circle d-inline-block align-top" src="{{ user.image.url }}"></a>
          
                
        {% endif %}
        
        <a class="nav-link" href="{% url 'shop:cart' %}"><img width="25" height="25" src="{% static 'core/img/shopping-cart.png' %}" class="d-inline-block align-top" loading="lazy" alt=""><span class="badge rounded-pill bg-danger">{{ cart.products.count }}</span></a>   
        
      </div>
    </nav>      
</header>  
{% endblock %}
<body style="margin-top: 100px;">
    

{% block content %}


     <div class="container">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
        {% endif %}
     </div>

    <div class="container-xl">

        <div class="row">
           <!-- Категории -->
            <div class="col-lg-3 mt-3">
              <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#category" aria-expanded="true" aria-controls="collapseExample">
                  <p class="h5"><em>Категории</em></p>
                </button>
              </div>  
              <div class="collapse show" id="category">
                <div class="card card-body">
                  <ul class="list-group list-group-flush">
                    {% for category in categories %}
                        <a class="btn btn-outline-secondary btn-lg btn-block mt-3" href="{% url 'shop:category_detail' slug=category.slug %}">{{ category.title }}
                            <img alt="category pic" width="50" height="50" class="rounded-circle" src="{{ category.image.url }}"></a>
                    {% endfor %}
                  </ul>
                </div>
              </div> 
            </div> 
              <!-- Товары -->
             <div class="col-lg-9 mt-3">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'shop/img/buldog-cartridges.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shop/img/buldog-cartridges.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'shop/img/buldog-cartridges.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                    <h5 class="text-center">Товары</h5>
                    <div class="row mt-3">
                          {% for product in products %}
                              <div class="col-6 col-md-3 mt-3">
                                <div class="card text-center">{% if product.discount %}<span class="badge bg-danger">скидка {{ product.discount }} %</span>{% endif %}

                                  <a href="{{ product.get_absolute_url }}"><img alt="brand pic" width="100" height="200" class="card-img-top" src="{{ product.image.url }}" alt=""></a>
                                  <div class="card-body bg-light">
                                    <h6 class="card-title">{{ product.full_name }}</h6>
                                    
                                    {% if product.discount %}
                                      
                                        <div class="d-flex justify-content-center">
                                          <p style="text-decoration: line-through; color: red;">{{ product.price }}</p><h6><span style="size: 14px;"> {{ product.final_price }} грн.</span></h6>
                                        </div>
                                       
                                    {% else %}
                                        <h6><span style="size: 14px;">{{ product.final_price }} грн.</span></h6>

                                    {% endif %}
                                    <a href="{% url 'shop:add_to_cart' slug=product.slug %}">
                                        <button class="btn btn-success">Добавить в корзину</button>
                                    </a>
                                  </div>
                                </div>
                              </div>
                          {% endfor %}
                    </div>
             </div>
      </div>
    </div>
{% endblock %}




<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
</html>

</body>