{% extends 'baseshop.html' %}
{% load static %}




{% block content %}


     <div class="container">

        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop:mainpage' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{{ brand.get_absolute_url }}">{{ brand.title }}</a></li>
         </ol>
        </nav>

          <div class="col-lg-3 mt-5">
            <ul class="list-group">
              {% for brand in brands %}
                <a href="{{ brand.get_absolute_url }}"><li class="list-group-item" style="text-align:center">{{ brand.title }}
                    <img alt="brand pic" width="50" height="50" class="rounded-circle" src="{{ brand.image.url }}">
                </li></a>
              {% endfor %}
            </ul>
          </div>

         <div class="row mt-5">
              {% for product in products %}
                  <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                      <a href="{{ product.get_absolute_url }}"><img alt="brand pic" weight="100" height="100" class="img-fluid" src="{{ product.image.url }}" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="{{ product.get_absolute_url }}">{{ product.full_name }}</a>
                        </h4>
                        {% if product.discount %}
                            <h6 style="color: red">скидка {{ product.discount }} %</h6>

                            <h6>старая цена: {{ product.price }} грн.</h6>
                            <h5 style="color: red">новая цена: {{ product.final_price }} грн.</h5>
                        {% else %}
                            <h5>цена: {{ product.final_price }} грн.</h5>

                        {% endif %}
                        <a href="{% url 'shop:add_to_cart' slug=product.slug %}">
                            <button class="btn btn-danger">Добавить в корзину</button>
                        </a>

                      </div>
                    </div>
                  </div>
              {% endfor %}
         </div>
     </div>


{% endblock %}