{% extends 'baseshop.html' %}

{% block content %}
{% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
  {% endif %}
  <div class="container">
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if not cart.products.count %}пуста</h3>
    <div class="row">
      
        <a class="btn btn-primary" href="{% url 'shop:mainpage' %}" role="button">На главную</a>
      
    </div>
  </div>    
    {% endif %}
    

    {% if cart.products.count %}
  <div class="container">
    <div class="table-responsive-sm">
          <table class="table table-striped table-sm" style="text-align: center;">
            <thead>
              <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Цена</th>
                <th scope="col">Скидка</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Общая цена</th>
                <th scope="col">Действие</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.products.all %}
                  <tr>
                    <td scope="row" >{{ item.product.full_name }}
                      <img src="{{ item.product.image.url }}" width="80" height="80" class="rounded mx-auto d-block ">
                    </td>
                    <td>{{ item.product.price }} грн./шт</td>
                    <td style="color: red">{{ item.product.discount }} %</td>


                    <td>
                      <form action="{% url 'shop:change_qty' slug=item.product.slug %}" method="POST">
                        {% csrf_token %}
                        <input type="number" class="form-control" name="qty" style="width: 60px;" min="1" value="{{ item.qty }}">
                        <br>
                        <input type="submit" class="btn btn-sm btn-primary" value="Изменить кол-во">
                      </form>
                    </td>
                      <td>{{ item.final_price }} грн.</td>
                    <td>
                      <a href="{% url 'shop:delete_from_cart' slug=item.product.slug %}"><button class="btn btn-danger">Удалить из корзины</button></a>
                    </td>
                  </tr>
              {% endfor %}
                  <tr>
                    <td colspan="1"></td>
                    <td><strong>Итого:</strong></td>
                    <td>{{ cart.total_products }} наименований </td>
                    <td> на сумму: </td>
                    <td><strong>{{ cart.final_price }} грн.</strong></td>
                    <td><a href="{% url 'shop:checkout' %}"><button class="btn btn-primary">Перейти к оформлению</button></a></td>
                  </tr>
            </tbody>
          </table>
    </div>  
  </div>
{% endif %}

{% endblock content %}
