{% extends 'baseshop.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Наименование</th>
          <th scope="col">Изображение</th>
          <th scope="col">Цена</th>
          <th scope="col">Кол-во</th>
            <th scope="col">Общая цена</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart.products.all %}
            <tr>
              <th scope="row">{{ item.product.full_name }}</th>
              <td class="w-25"><img alt="product pic" width="100" height="100" class="img" src="{{ item.product.image.url }}"></td>
              <td>{{ item.product.price }} грн.</td>
              <td>{{ item.qty }}</td>
                <td>{{ item.final_price }} грн.</td>
            </tr>
        {% endfor %}
            <tr>
              <td colspan="2"></td>
              <td>Всего наименований:</td>
              <td>{{ cart.total_products }}</td>
              <td><strong>{{ cart.final_price }} грн.</strong></td>
            </tr>
      </tbody>
    </table>
    <hr>
    <h3 class="text-center mt-5 mb-5">Форма заказа</h3>
    <form action="{% url 'shop:make_order' %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" class="btn btn-success btn-block mb-3" values="Оформить заказ">
    </form>
  </div>
{% endblock content %}
