{% extends 'baseshop.html' %}
{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'shop:mainpage' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{{ product.brand.get_absolute_url }}">{{ product.brand.title }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ product.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3>{{ product.full_name }}</h3>
                {% if product.discount %}
                    <p style="color: red">скидка {{ product.discount }} %</p>

                    <p>старая цена: {{ product.price }} грн.</p>
                    <p>новая цена: {{ product.final_price }} грн.</p>
                {% else %}
                    <p>цена: {{ product.final_price }} грн.</p>

                {% endif %}
                <p>Описание: {{ product.description }}</p>
                <hr>
                <a href="{% url 'shop:add_to_cart' slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
            </div>
        </div>
    </div>

{% endblock content %}
