{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="display-3 mt-3 text-center">Наши услуги</h1>
        <div class="row mt-5 justify-content-center">
            {% for service in services %}
                <div class="col-md-3 mb-4">
                    <div class="card mt-2">
                      <a href="{{ service.get_absolute_url }}"><img src="{{ service.image.url }}" width="100" height="300" class="card-img-top" alt="..."></a>
                      <div class="card-body">
                        <h5 class="card-title" style="color: red; text-align: center">{{ service.name }}</h5>

                        {% if service.discount %}
                            <p style="color: red">скидка {{ service.discount }} %</p>

                            <p>старая цена: {{ service.price }} грн.</p>
                            <h5>новая цена: {{ service.final_price }} грн.</h5>
                        {% else %}
                            <h5>цена: {{ service.final_price }} грн.</h5>

                        {% endif %}

                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock  %}
