{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb" class="mt-3">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'services:base_services' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
          </ol>
        </nav>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ service.image.url }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h3>{{ service.name }}</h3>
                {% if service.discount %}
                    <p style="color: red">скидка {{ service.discount }} %</p>

                    <p>старая цена: {{ service.price }} грн.</p>
                    <p>новая цена: {{ service.final_price }} грн.</p>
                {% else %}
                    <p>цена: {{ service.final_price }} грн.</p>

                {% endif %}
                <p>Описание: {{ service.description }}</p>
                <hr>
                <a href="#"><button class="btn btn-danger">Записаться</button></a>
            </div>
        </div>
    </div>

{% endblock content %}
