{% load static %}

<!doctype html>
<html lang="ru">
  <head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">        <title>Base</title>


</head>
                {% block header %}

                {% endblock %}
<body>
    <div class="container-fluid bg-dark" >
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
              <div class="container-fluid " style="justify-content: center;">
                <a class="navbar-brand" href="{% url 'index' %}"><h1>Symmetria-house</h1></a>


                <div class="navbar-expand justify-content-center" id="navbarprofilecontent">
                    <ul class="navbar-nav">



                            {%  if user.is_authenticated %}

                                <li class="nav-item">
                                    <img alt="Profile pic" width="35" height="35" class="rounded-circle" src="{{ user.image.url }}">
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts:profile' %}">Profile ({{ user.username }})</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" style="color: crimson;" href="{% url 'accounts:logout' %}">Выйти</a>
                                 </li>



                            {% else %}
                                  <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts:registration' %}">Регистрация</a>
                                  </li>

                                  <li class="nav-item">
                                    <a class="nav-link" href="{% url 'accounts:login' %}">Авторизация</a>
                                  </li>
                            {% endif %}
                    </ul>
                </div>
              </div>
        </nav>
    </div>
                {% block content %}
                {% endblock %}



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script></body>
</html>