{% extends 'base.html' %}
{% load static %}




{% block content %}
    <div class="contaiber-fluid bg-dark" >

        <div class="container mt-3" style=border-width:2px;">
            <h1 style="text-align:center; font-size:300%; color:white;">WELCOME TO Symmetria!!!</h1>
             <div class="row mt-5 justify-content-center">
                <div class="col-6 col-md-3 mb-4">
                        <a href="{% url 'services:base_services' %}"><div class="card h-100">
                          <img alt="brand pic" width="100%" height="100%" class="card-img" src= "{% static 'services/img/PM.JPG' %}">

                        </div></a>
                </div>
                <div class="col-6 col-md-3 mb-4">
                        <a href="{% url 'shop:mainpage' %}"><div class="card h-100">
                            <img alt="brand pic" width="100%" height="100%" class="card-img" src= "{% static 'core/img/shop.jpeg' %}">

                        </div></a>
                </div>
             </div>
        </div>
    </div>

{% endblock %}

